default_layout "ai"
default_mode "locked"
on_force_close "quit"
scroll_buffer_size 50000
copy_on_select true
session_serialization false
pane_frames true
theme "ai_gruvbox_day"

themes {
    ai_gruvbox_day {
        bg 242 229 188
        fg 60 56 54
        black 242 229 188
        red 204 36 29
        green 78 154 6
        yellow 122 92 0
        blue 0 79 107
        magenta 157 79 116
        orange 175 58 3
        cyan 79 138 102
        white 95 83 74
    }
}
